*.bak
*.class
*.dist-info/
*.egg-info
*.eggs/
*.py[co]
*.swp
*~
.DS_Store
.cache
.coverage
.idea
.ipynb_checkpoints/
.pytest_cache/
.tox
.vagrant
.vscode
/bones-scripts
Vagrantfile
_build
build
dist
docs/.doctrees
htmlcov
id_*.txt
log.txt
mnist.pkl.gz
